.catalog_button {
    color: #333333;
    font-size: 15px;
    cursor: pointer;
    font-weight: lighter;
    user-select: none;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:5px;
}

.catalog_button_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.catalog_button_container:hover {
align-items:flex-start;
background-color: rgba(0,0,0,.05);
}

.catalog_button:hover {
    color: #fc8507;
    transition-timing-function: ease;
    transition-duration: 0.35s;
}

.catalog_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 16%);
    border-radius: 8px;
    
}

.catalog_content_container.visible{
    opacity: 1;
    pointer-events: all;
    transition: 0.8s;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 16%);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 1180px;
}

.catalog_content_container.hidden {
    opacity: 0;
    pointer-events: none;
    position: absolute;
}


.catalog_content {
    color: #333333;
    font-size: 15px;
    cursor: pointer;
    font-weight: lighter;
    user-select: none;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.catalog_content a:hover {
    color: #fc8507;
    transition-timing-function: ease;
    transition-duration: 0.35s;
}

.catalog_wrapper {
    width: 100%;
}